<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/silly.css">
    <title>Blog DOT COM</title>
</head>
<body>
    <h2><a href="/">Home</a> | <a href="/somewhereelse">Go somewhere...</a></h2>
    @RenderBody()
    <footer>
        <p>2018 All rights reserved</p>
    </footer>
</body>
</html>