<h1>Welcome To my Blog site!</h1>
<hr>
<h2>Add a new blog post!</h2>
<form action="/create" method="post">
    <input type="text" name="Title" placeholder="Title">
    <textarea name="Content" placeholder="Write your blog post!" cols="30" rows="10"></textarea>
    <button>Post!</button>
</form>
