<h1>Congradulations on your new Blog Post!</h1>
<hr>
<h3>@ViewBag.NewTitle</h3>
<p>@ViewBag.NewContent</p>
<hr>
<h3>Meanwhile in our model type...</h3>
<h3>@ViewBag.NewBlog.Title</h3>
<p>@ViewBag.NewBlog.Content</p>