<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/main.css">
    <title>GARDENING TIPZ</title>
</head>
<body>
    <h1>Welcome to my cool GARDENING blog</h1>
    <img src="~/img/Sunflower.jpg" alt="sf-main">
    <hr>
    <form action="/create" method="post">
        <input type="text" name="Title" placeholder="Blog Title">
        <textarea name="Content" placeholder="Write a new post herer!" cols="30" rows="10"></textarea>
        <input type="submit" value="Post Blog!">
    </form>
</body>
</html>