<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
@{
    string[] toppings = new string[]
    {
        "pep", "shroomz", "just cheese", "burger", "candian bacon"
    };
}
<body>
    <h1>Pizza Home Page!</h1>
    <hr>
    <h2>Check out some toppings!</h2>
    @foreach(string top in toppings)
    {
        <a href="/pizza/@top">@top</a>
    }
</body>
</html>